<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Unnamed Project</title>

    <link rel="icon" href="./favicon.ico">
    <link rel="apple-touch-icon" href="./logo192.png">

    <meta name="theme-color" content="rgb(0 122 255)">
    <link rel="manifest" href="./manifest.json">

        <meta name="description" content="Unnamed Project" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="Unnamed Project" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Unnamed Project" />
    
    

    <!-- Require stylesheet load from local -->
         <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
             <link href="./dist/css/fontawesome-all.min.css" rel="stylesheet">


    <!-- Required stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	

    <link href="./dist/css/style.css" rel="stylesheet"/>
</head>

<body>
    <!-- START: Body Content -->
    <div class="ezy__nav2 dark">
	<nav class="navbar navbar-expand-lg  py-3">
		<div class="container">
			<a class="navbar-brand" href="#">
				Cinema
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span>
					<span></span>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-4 mt-lg-0">
					<li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Movie</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Introduction</a></li>
				</ul>
				<ul class="navbar-nav flex-row mb-2 mb-lg-0 ms-lg-3">
					<li class="nav-item me-2">
						<button id="signupbutton" class="btn btn-outline-primary px-3">Sign Up</button>
					</li>
					<li class="nav-item me-2">
						<button id="loginbutton" class="btn btn-primary px-3">Log In</button>
					</li>
                    <li class="nav-item">
                        <button class="btn btn-primary px-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <i class="fas fa-user"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item dropdown-item-logout" href="#">Logout</a>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<section class="ezy__copyright3 dark text-center text-lg-start pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <p class="mb-lg-0">Copyright all rights reserved</p>
      </div>
      <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end">
        <ul class="ezy__copyright3-social nav">
          <li>
            <a href="" class=""><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="" class=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="" class=""><i class="fab fa-pinterest"></i></a>
          </li>
          <li>
            <a href="" class=""><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


    <!-- END: Body Content -->

    <!-- Require scripts load from local -->
         <script src="./dist/js/popper.min.js" ></script>
     <script src="./dist/js/bootstrap.min.js" ></script>
    
    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var signupButton = document.getElementById('signupbutton');
        var loginButton = document.getElementById('loginbutton');
        var dropdownButton = document.getElementById('dropdownMenuButton');
    var dropdownMenu = document.querySelector('.dropdown-menu');
var logoutButton = dropdownMenu.querySelector('.dropdown-item-logout');

       function checkLoginStatus() {
        var accessToken = localStorage.getItem('accessToken');
        var refreshToken = localStorage.getItem('refreshToken');
        if (accessToken && refreshToken) {
        // Nếu tồn tại access token và refresh token trong local storage, ẩn các nút Sign Up và Log In
        signupButton.style.display = 'none';
        loginButton.style.display = 'none';
        }else {
        dropdownButton.style.display ='none';
        }
        }
        signupButton.addEventListener('click', function() {
            redirectTo('Xioy9xV6rP.html');
        });
        loginButton.addEventListener('click', function() {
            redirectTo('EPCMGpGKSK.html');
        });
        function redirectTo(url) {
            window.location.href = url;
        }
        checkLoginStatus();

        // Xử lý sự kiện khi nút "Logout" được nhấp
    logoutButton.addEventListener('click', function(event) {
    // Ngăn chặn hành vi mặc định của liên kết
    event.preventDefault();

    // Xóa accessToken và refreshToken từ localStorage
    localStorage.removeItem('accessToken');
    localStorage.removeItem('refreshToken');
    localStorage.removeItem('user-info');

    // Chuyển hướng người dùng đến trang đăng nhập hoặc trang chính, tùy thuộc vào yêu cầu của bạn
    redirectTo('index.html');
});
    </script>
    </body>
</html>
